@import "variables-no-compile";
@import "colours-no-compile";
@import "animate-no-compile";

$element-padding: 16px;
$dialog-vertical-margin: 20px;

:host {
    & > div {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $layer-modal + 1;
        display: none;
        width: 100vw;
        height: 100vh;
        overflow: auto;

        &.visible {
            display: block;
            pointer-events: auto;
        }
    }

    .dialog {
        display: none;
        width: max-content;
        max-width: 80%;
        min-width: 50%;
        margin: $dialog-vertical-margin auto;
        background-color: $colour-white;

        & > div {
            padding: $element-padding;
        }

        .header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: auto;
            min-width: max-content;
            border-bottom: 1px solid $colour-grey-light;

            .modal-title {
                margin-bottom: 0;
                line-height: 1.5;
            }

            button {
                float: right;
                padding: $element-padding;
                margin: -1 * $element-padding -1 * $element-padding -1 * $element-padding auto;
                font-family: $font-bold;
                font-size: 24px;
                line-height: 1.5;
                color: $colour-black;
                text-shadow: 0 1px 0 $colour-white;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;
                opacity: 0.5;
                appearance: none;
            }
        }

        .footer {
            display: none;
            justify-content: flex-end;
            width: 100%;
            border-top: 1px solid $colour-grey-light;

            &.visible {
                display: flex;
            }

            ::ng-deep {
                button {
                    &:not(:first-child) {
                        margin-left: 8px;
                    }

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    @include animate-host("zf-slide", "same", ".dialog");
}
