.DS_Store

# Dotnet
# This file is copied from the root of the project during docker build
# For development, IDE picks up the root .editorconfig
src/portal/api/.editorconfig
src/portal/ui/.editorconfig
src/portal/ui/.angular

# Terragrunt and terraform
src/terraform/portal/redirect.zip
.terraform.lock.hcl
.terragrunt-cache/
.terraform/
src/terraform/**/terragrunt_plan.txt
src/terraform/artifacts/*
src/terraform/fsiem_benchmarking/artifacts/*
src/terraform/fsiem_collector/artifacts/*
src/terraform/fsiem_benchmarking/python/lambda_layers/python/*
src/terraform/fsiem_benchmarking/python/lambda_layers/python_modules.zip

# Python
.pytest_cache/
.pyc
__pycache__/
src/python/**/.coverage
src/python/**/fsiem_api_client.egg-info/**
src/python/**/dist/**
src/python/fsiem_api_client/build/lib/**
src/python/artifacts/
src/python/lambda_layer/artifacts/
src/python/lambda_s3_tag/integration-tests/out.json
src/devops/aws/automated_tools/lambda/artifacts/*
