@mixin animate($animation, $layer) {
    opacity: 0;

    @if $layer != "same" {
        z-index: -1;
    }

    &.in {
        animation-name: $animation + "-in";
        animation-timing-function: ease-in;
    }

    &.out {
        animation-name: $animation + "-out";
        animation-timing-function: ease-out;
    }

    &.visible {
        display: block;
        opacity: 1;

        @if $layer != "same" {
            z-index: $layer;
        }
    }
}

@mixin animate-host($animation, $layer, $selector) {
    #{$selector} {
        opacity: 0;

        @if $layer != "same" {
            z-index: -1;
        }
    }

    :host-context(.in) {
        #{$selector} {
            animation-name: $animation + "-in";
            animation-timing-function: ease-in;
        }
    }

    :host-context(.out) {
        #{$selector} {
            animation-name: $animation + "-out";
            animation-timing-function: ease-out;
        }
    }

    :host-context(.visible) {
        #{$selector} {
            display: block;
            opacity: 1;

            @if $layer != "same" {
                z-index: $layer;
            }
        }
    }
}
