// Core colours
$colour-red: #DC291E;
$colour-white: #FFFFFF;
$colour-black: #000000;

// Accent colours
$colour-blue: #2B76B9;
$colour-orange: #FFA400;
$colour-green: #4BB543;
$colour-user-info: #063D96;
$colour-grey-ghost: #CCCCCC;
$colour-grey-light: #E5E5E5;
$colour-grey-mid: #808080;
$colour-grey-dark: #586069;
$colour-grey-deep: #191A1C;
$colour-button-blue: #2277CC;
$color-critical: #CC0000;
$color-warning: #FF8800;
$color-table-hover-select: rgba(57 161 255 / 12%);

// Taken from Fortinet style guide files: palette.style and filters.style
@function colour-tint-shade($colour, $type) {
    $percent-map: (
        lighter: 50%,
        light: 25%,
        dark: 25%,
        darker: 50%
    );
    $target-map: (
        lighter: white,
        light: white,
        dark: black,
        darker: black
    );

    @return mix(map-get($target-map, $type), $colour, map-get($percent-map, $type));
}

$colour-red-dark: colour-tint-shade($colour-red, dark);
$colour-red-lighter: colour-tint-shade($colour-red, lighter);
$colour-blue-light: colour-tint-shade($colour-blue, light);
$colour-blue-dark: colour-tint-shade($colour-blue, dark);
$colour-green-dark: colour-tint-shade($colour-green, dark);
