@font-face {
    font-family: Lato-Regular;
    src: local("Lato"), local("Lato-Regular"), url("/assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Italic;
    src: local("Lato-Italic"), url("/assets/fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: local("Lato-Light"), url("/assets/fonts/Lato/Lato-Light.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: local("Lato-Bold"), url("/assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: Lato-Black;
    src: local("Lato-Black"), url("/assets/fonts/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: local("OpenSans"), local("OpenSans-Regular"), url("/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: local("OpenSans"), url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: FortinetOne;
    src: url("/assets/fonts/fortinetone.woff2");
}

i {
    text-rendering: optimizelegibility;

    &.service {
        &::before {
            content: "\e97b";
        }
    }

    &.arrow-down {
        &::before {
            content: "\e911";
        }
    }
}
