@use "sass:math";

textarea {
    appearance: none;
}

input {
    height: $height-base-element;
    padding: $padding;
}

textarea,
input {
    margin: 0;
    font-size: 14px;
    line-height: inherit;
    border: 1px solid $colour-grey-light;
    border-radius: 0;
    outline: none;

    &[type="text"],
    &[type="number"],
    &[type="password"],
    &[type="date"] {
        height: 38px;
    }

    &:focus {
        &:not([readonly]) {
            border-color: $colour-grey-deep;
            box-shadow: none;
        }
    }
}

button {
    padding: 6px 12px;
    font-size: 14px;
    white-space: nowrap;
    background-color: $colour-white;
    border: 1px solid $colour-grey-mid;

    &:not(:disabled) {
        cursor: pointer;
    }

    &.large {
        padding: math.div($section-gap, 2) $section-gap;
        font-size: 20px;
    }

    &.small {
        padding: math.div($section-gap, 4) math.div($section-gap, 2);
    }

    &.primary {
        color: $colour-white;
        background: $colour-button-blue;
        border-color: $colour-blue-dark;
    }

    &.danger {
        color: $colour-white;
        background-color: $colour-red;
        border-color: $colour-red-dark;
    }

    &.success {
        color: $colour-white;
        background-color: $colour-green;
        border-color: $colour-green-dark;
    }

    &.secondary {
        color: $colour-white;
        background-color: $colour-grey-dark;
        border-color: $colour-grey-deep;
    }

    &.float-right {
        float: right;
    }

    &[disabled] {
        color: $colour-grey-mid;
        background-color: $colour-grey-light;
        border-color: $colour-grey-mid;
    }
}
