$slide-in-distance: -70%;

@keyframes zf-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zf-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes zf-slide-in {
    from {
        opacity: 0;
        transform: translateY(#{$slide-in-distance});
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zf-slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(#{$slide-in-distance});
    }
}
