@import "breakpoints-no-compile";

body {
    margin: 0;
    min-height: 100%;
    background-color: #EFF1FA;

    * {
        &,
        &:hover,
        &:focus,
        &::before,
        &::after {
            outline: none;
            box-sizing: border-box;
        }
    }

    router-outlet {
        & + zf-account-selection {
            display: block;
            height: calc(100vh - #{$height-before-content} - #{$height-footer});
        }

        & + zf-deployments-table {
            display: block;
            height: calc(100vh - #{$height-before-content} - #{$height-footer});
        }
    }
}

// Force any element to be the full view height of the device
.full-height {
    min-height: 100vh !important;
    height: 100vh !important;
}

.container {
    display: block;
    margin: auto;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    @include media-breakpoint-between(sm, md) {
        width: 550px;
    }

    @include media-breakpoint-between(md, l) {
        width: 750px;
    }

    @include media-breakpoint-between(l, xl) {
        width: 950px;
    }

    @include media-breakpoint-between(xl, xxl) {
        width: 1100px;
    }

    @include media-breakpoint-up(xxl) {
        width: 1350px;
    }
}

.external::after {
    content: "\29C9";
    padding-left: 4px;
}
