table {
    background-color: $colour-white;
    border-collapse: collapse;

    tr {
        th,
        td {
            padding: 12px;
            text-align: left;
            vertical-align: inherit;
        }

        th {
            color: $colour-white;
            white-space: nowrap;
            background-color: $colour-blue-light;

            // sass-lint:disable no-vendor-prefixes
            -moz-osx-font-smoothing: auto;
            -webkit-font-smoothing: antialiased;

            // sass-lint:enable no-vendor-prefixes
        }
    }

    &.stretched {
        width: 100%;
    }

    &.bordered {
        &,
        & th,
        & td {
            border: 1px solid $colour-grey-light;
        }
    }
}
