// FONTS
$font-regular: "Lato-Regular";
$font-italic: "Lato-Italic";
$font-light: "Lato-Light";
$font-bold: "Lato-Bold";
$font-black: "Lato-Black";
$font-size-small: 11px;
$font-size-default: 14px;
$font-size-large: 18px;

// DIMENSIONS
$padding-forti-one: 0 20px;
$height-forti-one-image: 36px;
$width-forti-one-image: 163px;
$margin-forti-one-image: 8px 63px 8px 0;
$section-gap: 16px;
$height-banner: 50px;
$height-base-element: 28px;
$padding: $section-gap * 0.5 $section-gap * 0.75;
$height-info-title: 60px;
$height-before-content: $section-gap + $height-forti-one-image;
$height-footer: 50px;
$layer-modal: 12;
