@use "sass:math";
@import "variables-no-compile";
@import "colours-no-compile";

$dropdown-caret-right-position: 10px;
$height-dropdown: 38px;

@mixin dropdown-caret($line-height) {
    $size: $line-height * 0.15;

    &::after {
        position: absolute;
        top: math.div($line-height, 2);
        right: $dropdown-caret-right-position;
        border-top: $size solid $colour-grey-light;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        content: "";
        pointer-events: none;
    }
}

:host {
    position: relative;
    display: block;

    & > form {
        @include dropdown-caret($height-dropdown);

        input {
            width: 100%;
            height: $height-dropdown;
            padding: $padding;
            padding-right: $dropdown-caret-right-position * 3;
            cursor: pointer;
            border: 1px solid $colour-grey-light;
        }

        .list-container {
            position: absolute;
            z-index: 5;
            display: none;
            width: 100%;
            background-color: $colour-white;
            border: 1px solid $colour-grey-light;
            box-shadow: 1px -1px 3px $colour-grey-mid;

            &.down {
                top: $height-base-element + math.div($section-gap, 4);
            }

            &.up {
                bottom: $height-base-element + math.div($section-gap, 4);
            }

            ul {
                width: 100%;
                min-width: max-content;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;
                    min-width: fit-content;
                    padding: $padding;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        color: $colour-white;
                        background-color: $colour-button-blue;
                    }
                }
            }
        }

        &.open {
            z-index: 1;

            .list-container {
                display: block;
                overflow-y: auto;
            }
        }
    }
}
