#
# This is a test system, password included for ease of use
# This system is not accessible from outside or is behind strict firewall rules
#
[FSIEM]
super_url = https://fsmcld0000000154.playground.fortisiem.cloud
verify_tls = True
basic_auth_user = super/admin
basic_auth_password = Fortinet*11
secret_mgr_secret_id = fsiem-vm-auth-creds-playground
cognito_url = https://forticloud-fsiem-playground.auth.us-east-1.amazoncognito.com

# AWS Dynamo DB
[DynamoDB]
region=us-east-1
table_name=integration_test_activation
