@import "colours-no-compile";
@import "variables-no-compile";

:host {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 300px);
    margin: 0;
    padding: 20px;
    overflow: auto;
    background-color: #EFF1FA;
}

.large-icon {
    font-size: 90px;
}

.confirmation-icon {
    width: 110px;
    margin: auto;
    text-align: center;
}

.confirmation-text {
    width: 250px;
    margin: auto;
    text-align: left;
}

.expired {
    color: $color-critical;
    border-bottom: 1px dashed $color-critical;
}

.warning {
    color: $color-warning;
    border-bottom: 1px dashed $color-warning;
}

.critical-border {
    border-left: 3px solid $color-critical;
}

.warning-border {
    border-left: 3px solid $color-warning;
}

.container {
    overflow: auto;
    border: 1px solid #D7DBE4;
    height: 100%;
    padding: 0 30px 50px;
    background-color: $colour-white;
    width: 100%;

    .stack-information-table {
        margin: auto;

        tr {
            &.error {
                border-left: 4px solid $colour-red;
            }

            td,
            th {
                border: none;
            }

            th {
                color: $colour-grey-deep;
                text-align: end;
                background-color: $colour-white;
                max-width: 350px;
                white-space: normal;

                i {
                    display: block;
                    font-size: $font-size-small;
                    color: $colour-grey-mid;
                }

                span.error-text {
                    color: $colour-red;
                    font-weight: bold;
                    white-space: normal;
                }
            }

            td {
                display: flex;

                zf-dropdown {
                    width: 100%;
                }

                input {
                    width: 100%;
                    min-width: 250px;
                }

                textarea {
                    resize: vertical;
                    min-height: 75px;
                    max-height: 200px;
                    width: 100%;
                    min-width: 250px;
                }
            }
        }
    }

    .status-table {
        tr {
            td {
                &:first-child {
                    width: 20%;
                }

                &:nth-child(2) {
                    width: 70%;
                }

                &:last-child {
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }

    .stack-table {
        a {
            display: block;
            width: 100%;
        }

        tr {
            background-color: none;
            color: none;

            &.highlighted {
                background-color: $color-table-hover-select;
            }

            &.bordered-top-bottom {
                border-top: 1px solid #DEE2EB;
                border-bottom: 1px solid #DEE2EB;
            }

            &.dashed-border-bottom {
                border-bottom: 1px dashed #DEE2EB;
            }

            span {
                &.status {
                    display: inline-block;
                    width: 145px;
                }
            }

            th {
                color: #A0A5B9 !important;
                background-color: transparent !important;
                font-size: 11px !important;
                font-weight: 400 !important;
                letter-spacing: 0.045em !important;
                text-transform: uppercase !important;
            }

            th:first-child {
                width: 200px;
            }
        }

        tbody {
            tr {
                cursor: pointer;
                font-size: 14px;

                &:hover,
                &:focus {
                    background-color: $color-table-hover-select;
                }
            }
        }
    }

    #actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $section-gap;
        position: sticky;
        top: 0;
        padding-top: 10px;
        background-color: $colour-white;

        button {
            margin-left: $section-gap;
        }
    }

    zf-modal {
        &::ng-deep {
            .footer {
                & > span {
                    display: inline-flex;
                    align-items: center;
                }
            }
        }
    }

    zf-modal.small-dialog {
        &::ng-deep {
            .dialog {
                min-width: 0;
                width: 350px;
            }
        }
    }

    .loading::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4, end) 900ms infinite;

        // unicode for ellipsis
        content: "\2026";
        width: 0;
    }

    @keyframes ellipsis {
        to {
            width: 20px;
        }
    }
}
