@import "variables-no-compile";
@import "colours-no-compile";

:host {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 300px);
    margin: 0;
    padding: 55px;
    background-color: #EFF1FA;
}

.table-container {
    border: 1px solid #D7DBE4;
    height: calc(100vh - 200px);
    padding: 30px 30px 50px;
    background-color: $colour-white;

    .title {
        text-align: justify;
        border-bottom: 1px solid #39A1FF;
        color: #39A1FF;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 12px;
    }

    table {
        width: 100%;

        tr {
            background-color: none;
            color: none;

            &.bordered-top-bottom {
                border-top: 1px solid #DEE2EB;
                border-bottom: 1px solid #DEE2EB;
            }

            &.dashed-border-bottom {
                border-bottom: 1px dashed #DEE2EB;
            }

            th {
                color: #A0A5B9 !important;
                background-color: transparent !important;
                font-size: 11px !important;
                font-weight: 400 !important;
                letter-spacing: 0.045em !important;
                text-transform: uppercase !important;
            }

            th + th {
                width: auto;
            }

            th:first-child {
                width: 200px;
            }
        }

        tbody {
            tr {
                position: relative;
                cursor: pointer;

                &:hover,
                &:focus {
                    background-color: $color-table-hover-select;
                }

                &:hover::after {
                    background: #39A1FF;
                    border-radius: 4px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    content: "Select";
                    display: inline-block;
                    font-family: Lato, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    padding: 4px 17px;
                    position: absolute;
                    right: 20px;
                    top: 12px;
                    z-index: 3;
                }

                td {
                    span.master-user {
                        background: #E54B1D;
                        border-radius: 16px;
                        color: #FFFFFF;
                        box-sizing: border-box;
                        display: inline-block;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 170%;
                        margin-left: 0.5rem;
                        padding: 0 8px 1px;
                    }
                }

                td + td {
                    width: auto;
                }
            }
        }
    }
}
