@import "breakpoints-no-compile";
@import "colours-no-compile";
@import "variables-no-compile";

$colour-background-main: #F5F8FF;
$colour-shadow: #EFF2F9;
$height-breadcrumbs: 52px;
$width-gap: $section-gap;
$width-label: 95px;

:host {
    display: flex;
    height: calc(100vh - ($height-footer + $height-banner + 2px));

    zf-modal {
        &::ng-deep {
            .header {
                &>.modal-title {
                    margin-top: 0 !important;
                }
            }

            .footer {
                &>span {
                    display: inline-flex;
                    align-items: center;
                }
            }
        }
    }

    .right {
        text-align: right;
    }

    .content {
        width: calc(100vw - 300px);
        margin: 0;
        padding: 20px;
        overflow: auto;
        background-color: #EFF1FA;
    }

    .loader {
        border: 16px solid #F3F3F3;
        border-radius: 50%;
        border-top: 16px solid #3498DB;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .tabs {
        &.center {
            text-align: center;
        }

        button {
            margin-right: 5px;
        }

        button:hover {
            &.highlight {
                border-bottom: 2px solid $colour-red;
            }
        }

        button.active {
            &.highlight {
                border-bottom: 2px solid $colour-red;
            }
        }
    }

    .edit {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        &.columns {
            flex-direction: column;
        }

        .edit-block {
            display: block;
            padding-bottom: 10px;
            position: relative;

            &.large {
                width: 100%;
                min-height: 100px;
            }

            &.separator {
                border-top: 1px solid #E5E5E5;
                padding-top: 10px;
            }

            label,
            span,
            textarea,
            input,
            i {
                display: block;
            }

            button.float-in {
                position: absolute;
                right: 0;
                z-index: 2;
                top: 16.5px;
                height: 38px;
            }

            label {
                background-color: transparent !important;
                font-size: 11px !important;
                font-weight: bold;
                letter-spacing: 0.045em !important;
                text-transform: uppercase !important;
            }

            input {
                width: 100%;
            }

            textarea {
                width: 99%;
                height: 100px;
                resize: none;

                &.resizable {
                    resize: vertical;
                    max-height: 300px;
                    min-height: 180px;
                    overflow: auto;
                }
            }

            i.help {
                font-size: $font-size-small;
                color: $colour-grey-mid;
            }

            span.error-text {
                color: $colour-red;
                font-weight: bold;
                white-space: normal;
            }

            &.error {
                border-left: 4px solid $colour-red;
                padding-left: 4px;

                textarea {
                    height: 100px;
                }
            }

            .inline {
                width: 100%;
                height: 100%;
                margin-top: 5px;
                margin-bottom: 5px;

                input, label {
                    width: auto;
                    display: inline-block;
                    margin-right: 5px;
                }

                input[type="checkbox"] {
                    width: 28px;
                    height: 24px;
                    vertical-align: middle;
                }
            }

            .table-row {
                margin-bottom: 10px;

                div.row {
                    display: table-row;
                    margin-left: 10px;

                    >span {
                        display: table-cell;
                        padding-inline-start: 20px;
                    }
                }
            }
        }
    }

    .deployment-information {
        background-color: $colour-white;
        height: 350px;
        box-shadow: -1px 1px 1px $colour-shadow, 1px -1px 1px $colour-shadow;
        border: 1px solid #D7DBE4;
        padding: 15px;

        .control-button {
            float: right;

            button {
                margin-left: 10px;
            }
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            float: left;
            height: 35px;
        }

        .information {
            display: flex;
            position: relative;
            justify-content: space-between;
            float: left;
            width: 100%;

            .info {
                min-width: 14%;
                overflow-wrap: anywhere;

                &.large {
                    min-width: 30%;
                }
            }

            .info-block {
                display: block;
                margin-top: 18px;
                padding-left: 5px;
                padding-right: 5px;
                font-size: $font-size-small;

                label,
                span {
                    display: block;
                }

                label {
                    background-color: transparent !important;
                    font-size: 11px !important;
                    font-weight: bold;
                    letter-spacing: 0.045em !important;
                    text-transform: uppercase !important;
                }

                textarea {
                    width: 99%;
                    height: auto;
                    max-height: 100px;
                    resize: vertical;
                }

                textarea:focus {
                    height: 100px;
                }

                &.error {
                    border-left: 4px solid $colour-red;
                    padding-left: 4px;

                    textarea {
                        height: 100px;
                    }
                }
            }

            .info-block.float {
                float: left;
                margin-right: 20px;
            }

            .update-info {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 10px;
                border: solid 2px $colour-green;
                width: 28%;
                background: $colour-white;

                h4 {
                    margin-top: 0;
                    margin-bottom: 5px;
                    color: $colour-green;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .action {
                    margin-top: 5px;
                    text-align: right;
                }
            }
        }
    }

    .deployment-stats {
        width: 100%;
        margin: 10px 0 0;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-gap: $width-gap;

        h3 {
            margin-top: 0;
            margin-bottom: 7px;
            text-transform: uppercase;
        }

        &>.grid-item {
            background-color: $colour-white;
            padding: 15px 20px 20px;
            box-shadow: -1px 1px 1px $colour-shadow, 1px -1px 1px $colour-shadow;
            border: 1px solid #D7DBE4;
            height: 300px;

            &.placeholder {
                background: transparent;
                box-shadow: none;
                border: none;
            }

            &.full {
                grid-column: span 16;
            }

            &.xlarge {
                grid-column: span 12;
            }

            &.large {
                grid-column: span 8;
            }

            &.medium {
                grid-column: span 6;
            }

            &.small {
                grid-column: span 4;
            }

            .header {
                &.beta::before {
                    float: right;
                    position: relative;
                    top: -28px;
                    left: -10px;
                    font-size: 0.75rem;
                    line-height: 1.5rem;

                    // handle the width of the left behind space
                    margin-right: -60px;
                    padding: 0 15px;
                    border: 1px solid fuchsia;
                    background-color: fuchsia;
                    color: #FFFFFF;
                    border-radius: 2rem;
                    content: 'BETA';
                }

                * {
                    float: left;
                }


                h3 {
                    margin-top: 0;
                    margin-bottom: 7px;
                    text-transform: uppercase;
                }

                .info {
                    margin-left: 10px;
                    cursor: pointer;
                    color: #0073bb;
                    user-select: none;

                    &:hover,
                    &.highlight {
                        text-decoration: underline;
                    }
                }

            }

            .buttons {
                float: right;

                button {
                    padding: 3px 9px;
                }
            }



            .loading-container {
                display: flex;
                align-items: center;
                width: 100%;
                height: 66%;
            }

            &>.chart,
            .error {
                float: left;
                width: 100%;
                height: 90%;
                overflow: hidden;

                &.overflow-auto {
                    overflow-y: auto;
                }

                .info {
                    table-layout: auto;

                    &.overflow-auto {
                        overflow-y: auto;
                    }

                    tr {
                        background-color: none;
                        color: none;

                        &.sticky {
                            position: sticky;
                            top: 0;
                            background-color: $colour-white;
                        }

                        &.highlighted {
                            background-color: $color-table-hover-select;
                        }

                        &.bordered-bottom {
                            border-bottom: 1px solid #DEE2EB;
                        }

                        &.dashed-border-bottom {
                            border-bottom: 1px dashed #DEE2EB;
                        }

                        span {
                            &.status {
                                display: inline-block;
                                width: 145px;
                            }
                        }

                        th {
                            width: 20%;
                            color: #A0A5B9 !important;
                            background-color: transparent !important;
                            font-size: 11px !important;
                            font-weight: 400 !important;
                            letter-spacing: 0.045em !important;
                            text-transform: uppercase !important;

                            &.wide {
                                width: 40%;
                            }
                        }

                        // rest of the table space
                        th:last-child {
                            width: 100%;
                        }
                    }

                    tbody {
                        tr {
                            &.failed {
                                border-left: 4px solid $colour-red;
                            }


                            cursor: pointer;
                            font-size: 14px;

                            &:hover,
                            &:focus {
                                background-color: $color-table-hover-select;
                            }

                            td {
                                word-wrap: break-word;

                                &.failed {
                                    border-right: 3px solid $color-critical;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .danger-alert {
        color: $color-critical;
        border-bottom: 1px dashed $color-critical;
    }

    .large-icon {
        font-size: 90px;
    }

    .confirmation-icon {
        width: 110px;
        margin: auto;
        text-align: center;
    }

    .confirmation-text {
        width: 75%;
        margin: auto;
        text-align: left;
    }

    zf-modal.large {
        &::ng-deep {
            .dialog {
                min-width: 0;
                width: 800px;
            }
        }
    }

    zf-modal.medium {
        &::ng-deep {
            .dialog {
                min-width: 0;
                width: 580px;
            }
        }
    }

    zf-modal.small {
        &::ng-deep {
            .dialog {
                min-width: 0;
                width: 350px;
            }
        }
    }

    @media screen and (width >=1440px) {
        .deployment-information {
            .information {
                .info-block {
                    font-size: $font-size-default;
                }
            }
        }
    }
}
